

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand-title {
    display: flex;
    align-items: center;
}

.brand-title img {
    height: 80px; /* Adjust the height as needed */
    width: auto;
    cursor: pointer;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #0e0d0d;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #5212ca;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: #070707;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navbar-links a {
        display: block;
        padding: 10px 0;
    }

    .navbar-links.active {
        display: flex;
    }
}


